/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(63, 64, 65);
}

/* HEADER */
.wrapper header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('../images/logo2.jpg');
    background-position: 1% 80%;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.wrapper header h1 {
    margin-top: 34%;
    text-align: center;
    font-size: 34px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.wrapper header i {
    display: block;
    margin-top: 18%;
    font-size: 110px;
    color: #ddd;
    text-align: center;
}

.wrapper header .headerbtn {
    display: block;
    width: 50%;
    padding: 5% 15%;
    border: 3px solid #ddd;
    margin: 24% auto;
    font-size: 26px;
    background-color: transparent;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Shadows Into Light Two', cursive;
    border-radius: 25%;
}

.wrapper header .navbtn {
    position: fixed;
    right: 3%;
    top: 5%;
    font-size: 34px;
    background-color: #eee;
    padding: 2%;
    border: 4px solid #444;
    border-radius: 10%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.wrapper header .navbtn i {
    font-size: 34px;
    color: #444;
}

.wrapper header .sidenav {
    height: 70vh;
    width: 100vw;
    position: fixed;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ddd;
    background-color: #444;
    opacity: 0.9;
    transition: 0.5s;
}

.wrapper header .sidenav.open {
    left: 50%;
}

.wrapper header .sidenav ul {
    list-style-type: none;
}

.wrapper header .sidenav ul li {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 7% 5%;
    border-bottom: 2px solid #ddd;
    border-radius: 10%;
}

.wrapper header .sidenav ul li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ddd;
    text-transform: uppercase;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 28px;
}


/* MAIN */
.wrapper main section .desc {
    background-color: #eee;
}

.wrapper main section h1,
p {
    font-family: 'Shadows Into Light Two', cursive;
    color: #444;
}

.wrapper main section h1 {
    padding: 10% 8% 1%;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid #444;
    border-radius: 10%;
    width: 80%;
    margin: 0 auto;
}

.wrapper main section h1 i {
    color: #444;
    font-size: 28px;
}

.wrapper main section p {
    font-size: 19px;
    padding: 2% 10%;
    text-align: left;
}

.wrapper main .features .desc img {
    height: 10%;
    width: 100%;
    padding: 5%;
}

/* SECTION MENU */
.wrapper section.menu {
    margin-top: 10%;
    background-color: #eee;
    color: #444;
    width: 100%;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.wrapper section.menu h1 {
    padding: 2% 0;
    border-bottom: 3px solid #444;
    border-radius: 10%;
    width: 50%;
    margin: 5% auto 8%;
    font-size: 30px;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
}

.wrapper section.menu div.menubtns {
    width: 80%;
    margin: 0 auto;
}

.wrapper section.menu div.menubtns ul {
    list-style: none;
}

.wrapper section.menu div.menubtns ul li {
    display: block;
    text-align: center;
    cursor: pointer;
}

.wrapper section.menu div.menubtns ul li a {
    display: block;
    padding: 4%;
    margin-bottom: 1%;
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    border: 3px solid #444;
    border-radius: 5%;
}

.wrapper section.menu div.menudania {
    width: 80%;
    margin: 10% auto
}

.wrapper section.menu div.menudania h2 {

    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
}

.wrapper section.menu div.menudania button {
    display: block;
    padding: 2%;
    background-color: transparent;
    border: none;
    margin: 5% auto 5%;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
}

.wrapper section.menu div.menudania button a {
    text-decoration: none;
    border-bottom: 2px solid #444;
    color: #444;
    font-size: 18px;
    border-radius: 10%;
    background-color: transparent;
}

.wrapper section.menu div.menulist {
    font-family: 'Shadows Into Light Two', cursive;
    width: 80%;
    margin: 0 auto;
}

.wrapper section.menu div.menulist ul {
    margin-top: 15%;
    list-style-type: none;
}

.wrapper section.menu div.menulist ul li {
    padding-bottom: 8%;
}

.wrapper section.menu div.menulist ul li h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.wrapper section.menu div.menulist ul li p {
    text-align: left;
}

.wrapper section.menu div.menulist ul li h2 span {
    display: block;
    font-size: 15px;
    float: right;
    padding-bottom: 2%;
}

/* FOOTER */
.wrapper footer {
    width: 100%;
    /* height: 140vh; */
}

.wrapper footer .contact form {
    margin-top: 15%;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    color: #ddd;
}

.wrapper footer .contact form h1 {
    font-size: 28px;
    padding-bottom: 15px;
}

.wrapper footer .contact form label {
    font-size: 20px;
    padding-bottom: 5px;
}

.wrapper footer .contact button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #ddd;
    background-color: transparent;
    font-family: 'Shadows Into Light Two', cursive;
    padding: 2% 20%;
    border: 2px solid #ddd;
}

.wrapper footer .contact form label {
    display: block;
}

.socialmedia {
    margin-top: 10%;
    text-align: center;
}

footer section.socialmedia a {
    display: inline-block;
    padding: 10% 0;
    text-decoration: none;
    text-align: center;
}

footer section.socialmedia a i {
    display: block;
    color: #ddd;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    text-align: center;
}

footer section.author {
    border-top: 3px solid #333;
    background-color: #555;
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    color: #ddd;
    font-size: 16px;
    padding: 10% 18%;
}